<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(230, 233, 205);">
    <br>
    <h3 style="text-align: center;color:tomato;">PAYMENT LINK SENT TO OWNER </h3><br>
    <center style="background-color: rgb(182, 221, 240);width: 60%;padding-left: 20%;padding-right: 20%;">
        <p>Vehicle Number : {{text }}</p>
        <p>Owner Name : {{name }}</p>
        <p>The Payment link has sent to {{phone}} </p>
    </center>
</body>

</html>